@page "/albums/{id:int}"
@using Entities
@using Lib
@model Chinook.Pages.Albums.Detail
@{
    ViewData["Title"] = "Album";
    ViewData["BackBar"] = "All Albums";
    ViewData["Entity"] = "Album";
}

<partial name="Shared/_BackBar"/>

<partial name="Shared/_Alert" model="@Model.Message"/>

<div class="container-xl">
    <div class="page-header page-header-border">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">@Model.Album.Title</h2>
                <div class="text-muted mt-1">
                    <a href="#" class="text-body">@Model.Album.Artist.Name</a>
                </div>
            </div>
            <div class="col-auto">
                <div class="btn-list">
                    <a asp-page="./Edit" asp-route-id="@Model.Album.AlbumId" class="btn btn-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"/><path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"/><line x1="16" y1="5" x2="19" y2="8"/>
                        </svg>
                        Edit
                    </a>
                    <button href="#" class="btn btn-white d-none d-md-inline-flex" data-bs-toggle="modal" data-bs-target="#modal-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7"/><line x1="10" y1="11" x2="10" y2="17"/><line x1="14" y1="11" x2="14" y2="17"/><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                        </svg>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    @if (!Model.Album.Tracks.Any())
    {
        <div class="empty mt-4">
            <div class="empty-img undraw-svg">
                <img src="~/img/music.svg" style="width: 20rem" alt="Bird chirping with musical notes">
            </div>
            <p class="empty-title">No Tracks found</p>
            <p class="empty-subtitle text-muted">
                Add a new track by clicking the button below
            </p>
            <div class="empty-action">
                <a asp-page="./Tracks/New" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    New Track
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="page-body">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive-md">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Genre</th>
                                <th>Composer</th>
                                <th>Time</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (Track track in Model.Album.Tracks)
                            {
                                <tr>
                                    <td>@track.Name</td>
                                    <td>@track.Genre.Name</td>
                                    <td>@track.Composer</td>
                                    <td>@TimeConvertor.MinutesAndSeconds(track.Milliseconds)</td>
                                    <td>£@track.UnitPrice</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end" style="">
                                                <a class="dropdown-item" asp-page="/Tracks/Edit" asp-route-id="@track.TrackId">
                                                    Edit
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Delete
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<vc:delete-modal title="@Model.Album.Title" entity="Album" id="@Model.Album.AlbumId"/>