@page
@using Entities
@using Lib
@model Chinook.Pages.Albums.Index
@{
    ViewData["Title"] = "Albums";
    ViewData["Entity"] = "Album";
}

<partial name="Shared/_Alert" for="Message"/>

<partial name="Shared/_NewHeader"/>

<div class="container-xl">
    <div class="page-body">
        <partial name="Shared/_SearchBar" for="Search"/>

        @if (Model.Albums.Any())
        {
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Artist</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (Album album in Model.Albums)
                            {
                                <tr>
                                    <td>
                                        <a asp-page="./Detail" asp-route-id="@album.AlbumId" class="text-reset" tabindex="-1">@album.Title</a>
                                    </td>
                                    <td>
                                        @album.Artist.Name
                                    </td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end" style="">
                                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@album.AlbumId">
                                                    Edit
                                                </a>
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-danger" data-entity="Album" data-name="@album.Title" data-id="@album.AlbumId">
                                                    Delete
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <div class="card-footer d-flex align-items-center">
                            @Html.PagedListPager((IPagedList) Model.Albums, page => Url.Page("./Index", new {p = page, Model.Search}),
                                new TablePagination())
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <partial name="Shared/_Empty"/>
        }
    </div>
</div>

<partial name="Shared/_DeleteModal"/>