@page
@using Entities
@model Chinook.Pages.Albums.Index
@{
    ViewData["Title"] = "Albums";
}

<div class="container-xl">

    @if (Model.Message != null)
    {
        <div class="alert alert-success alert-dismissible mt-2" role="alert">
            <div class="d-flex">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                <div>
                    <div>@Model.Message</div>
                </div>
            </div>
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        </div>
    }

    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    @ViewData["Title"]
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a asp-page="./New" class="btn btn-primary d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        New Album
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xl">


    <div class="page-body">
        <div class="col-12">
            <div class="mb-3">
                <label asp-for="Search" class="form-label">Search</label>
                <form method="get">
                    <div class="input-group input-group-flat">
                        <input asp-for="Search" type="search" class="form-control" autocomplete="off">
                        <span class="input-group-text" style="background-color: white">
                            <a href="/albums?search=" class="link-secondary" title="Clear search" data-bs-toggle="tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="table-responsive-md">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                        <tr>
                            <th class="w-1">ID.</th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Albums album in Model.Albums)
                        {
                            <tr>
                                <td>
                                    <span class="text-muted">@album.AlbumId</span>
                                </td>
                                <td>
                                    <a asp-page="./Detail" asp-route-albumId="@album.AlbumId" class="text-reset" tabindex="-1">@album.Title</a>
                                </td>
                                <td>
                                    @album.Artist.Name
                                </td>
                                <td class="text-end">
                                    <span class="dropdown">
                                        <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                        <div class="dropdown-menu dropdown-menu-end" style="">
                                            <a class="dropdown-item" asp-page="./Edit" asp-route-albumId="@album.AlbumId">
                                                Edit
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                Delete
                                            </a>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>