@page
@using Entities
@using Lib
@model Chinook.Pages.Tracks.Index
@{
    ViewData["Title"] = "Tracks";
    ViewData["Entity"] = "Track";
}

<partial name="Shared/_Alert" for="Message"/>
<partial name="Shared/_NewHeader"/>

<div class="container-xl">
    <div class="page-body">

        <partial name="Shared/_SearchBar" for="Search"/>


        @if (Model.Tracks.Any())
        {
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter datatable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Album</th>
                                <th>Genre</th>
                                <th>Composer</th>
                                <th>Time</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (Track track in Model.Tracks)
                            {
                                <tr>
                                    <td>@track.Name</td>
                                    <td>
                                        @if (track.AlbumId != null)
                                        {
                                            <a asp-page="/Albums/Detail" asp-route-id="@track.AlbumId" class="text-reset" tabindex="-1">@track.Album.Title</a>
                                        }
                                    </td>
                                    <td>@track.Genre.Name</td>
                                    <td>@track.Composer</td>
                                    <td>@TimeConvertor.MinutesAndSeconds(track.Milliseconds)</td>
                                    <td>£@track.UnitPrice</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end" style="">
                                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@track.TrackId">
                                                    Edit
                                                </a>
                                                <a class="dropdown-item" role="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-danger" data-entity="Track" data-name="@track.Name" data-id="@track.TrackId">
                                                    Delete
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <div class="card-footer d-flex align-items-center">
                            @Html.PagedListPager((IPagedList) Model.Tracks, page => Url.Page("./Index", new {p = page, Model.Search}),
                                new TablePagination())
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <partial name="Shared/_Empty"/>
        }
    </div>
</div>

<partial name="Shared/_DeleteModal"/>